@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slackey&display=swap');
body{
  
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Media query for screens wider than 768px (tablets and desktops) */
@media only screen and (min-width: 768px) {
 
}

/* Media query for screens narrower than 768px (phones) */
@media only screen and (max-width: 768px) {
 


}